asgiref==3.7.2
channels==4.0.0
channels-redis==4.1.0
Django==4.2.4
django-cors-headers==4.3.1
django-filter==23.5
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
msgpack==1.0.5
PyJWT==2.8.0
pytz==2023.3.post1
redis==5.0.0
sqlparse==0.4.4
tzdata==2023.3
